
body {
	font-family: Arial,Helvetica;
	font-size: 12;
	text-align: justify;
	background-color: #F8F8F8;
}

A {color: #003399;}
A:hover {color: #40B0C0;}
A:visited {color: #103080;}
A:active {color: #800000;}

h1.sect1,h2.sect2,h3.sect3 {
	border-style: none;
	text-decoration: underline;
	margin-left: 0;
}

h1.sect1 {
	color: #800000;
}

h2.sect2 {
	color: #600000;
}

h3.sect3 {
	color: #400000;
}

h1 {
	color: #406090;
	background: #C0D0E0;
	padding: 5;
}

div.sect1,div.sect2,div.sect3 {
	margin-left: 10;
}

div.toc {
	padding-top: 5;
	padding-bottom: 5;
	padding-left: 10;
	padding-right: 10;
	background-color: #ECF0FF;
	margin-left: 20;
	margin-right: 20;
}

pre.programlisting {
	background-color: #e8e8e8;
	padding: 5;
	border:  thin solid #c0c0c0;
}

table {
	font-family: Arial,Helvetica;
	font-size: 12;
	background-color: #C0C0C0; 
	border: 0px;
	border-spacing: 1px;
}
tr th {
	background-color: #D0D0D0; 
	font-weight: bold;
	padding-left: 6px; 
	padding-right: 6px;
	border: 0px;
	margin: 0px;
}
tr td {
	background-color: #e8e8e8;
	padding-left: 6px; 
	padding-right: 6px;
	border: 0px;
	margin: 0px;
}
